
<style type="text/css">
a:link {color:#FFF;text-decoration:none;}      /* unvisited link */
a:visited {color:#FFF;text-decoration:none;}  /* visited link */
a:hover {color:#0000FF;text-decoration:none;}  /* mouse over link */
a:active {color:#0000FF;text-decoration:none;}  /* selected link */
</style>


<body>
<div class="container header">
  <div id="header" class="span-24">
  </div>
</div>



  <div class="container showgrid">
    <div class="span-24 last">
    <p>
    </p>
    </div>


    <div class="span-1">
    <p>
    </p>
    </div>

    <div class="span-22">
    <p>
    <font size="2"><b>OpenForum.Org</b>&nbsp; is a tool that concerned citizens can use to interact with others to express ideas on how they want their goverment to be run.<br>
    We work closely with elected officials to make sure that, whenever possible, your voice is being heard.<font>
    </p>
    </div>

    <div class="span-1 last">
    </div>



     <div class="box span-24 last">
        <span style="font-size:12px;">
	<font color='#fff'><b>&nbsp;
        <a href="#">Civil Rights</a>&nbsp;|&nbsp;<a href="#">Economic</a>&nbsp;|&nbsp;<a href="#">Free Speech</a>&nbsp;|&nbsp;<a href="signin">Sign In&nbsp;|&nbsp;<a href="signup">Sign Up</a>
	</a>
	</b>
	</font>
	</span>
	

      <div class="span-15"> <!-- adjusts link bar location --> 
       <P>
	</P>
       </div>

<div class="span-24 last">
<p>
</p>
</div>

<div class="span-12">
<img src="images/people.jpg" width="460"/> 
</div>

<div class="span-12 last">
<img src="images/congress.jpg" width="460" align=right /> 
</div>

<div class="span-24 last"><!-- space at bottom of pics -->
<p>
</p>
</div>


<div class="span-1">
<p>
</p>
</div>
<div class="span-22 last">
<font color='#fff'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</font>
</p>
</div>

<div class="span-1 last">
<p>
</p>
</div>



      </div>  

<!-- .........................................ends brown box................................................. -->

<div class="span-24 last">
<p>
</p>
</div>

<div class="span-17">
        <span style="font-size:16px;"><b>&nbsp; Most Discussed Issues:</b></span>
        <span style="font-size:13px;">What Concerns You</span>
        </div>
      




<div class="span-24 last">
<p>
</p>
</div>


<div class="span-2">
  <p>
  <font size="2"><b>&nbsp; 1468</b></font><br>
  <font size="1">&nbsp; &nbsp; Votes</font>
  </p>
  </div>


<div class="span-9">
  <p>
  <font size="2"><b><a href="#"><font color='#0000EE'>No one has gone to jail for crashing the world economy, torture or unconstitutional wiretaps.</a></font><br><font size="1">&nbsp; &nbsp; Submitted By: &nbsp; <b>Barack Obama</b>
  </p>
  </div>





<div class="span-1">
<p>
</p>
</div>


<div class="span-2">
  <p>
  <font size="2"><b>&nbsp; 1468</b></font><br>
  <font size="1">&nbsp; &nbsp; Votes</font>
  </p>
  </div>


<div class="span-9 last">
  <p>
  <font size="2"><b><a href="#"><font color='#0000EE'>No one has gone to jail for crashing the world economy, torture or unconstitutional wiretaps.</a></font><br><font size="1">&nbsp; &nbsp; Submitted By: &nbsp; <b>Barack Obama</b>
  </p>
  </div>





<div class="span-24 last">
</div>


<div class="span-2">
<p>
</p>
</div>


<div class="span-9">
<hr>
</div>

<div class="span-3">
<p>
</p>
</div>


<div class="span-9">
<hr>
</div>

<div class="span-1 last">
<p>
</p>
</div>



<!-- .......................................................SECTION 2............................................. -->


<div class="span-2">
  <p>
  <font size="2"><b>&nbsp; 1468</b></font><br>
  <font size="1">&nbsp; &nbsp; Votes</font>
  </p>
  </div>


<div class="span-9">
  <p>
  <font size="2"><b><a href="#"><font color='#0000EE'>No one has gone to jail for crashing the world economy, torture or unconstitutional wiretaps.</a></font><br><font size="1">&nbsp; &nbsp; Submitted By: &nbsp; <b>Barack Obama</b>
  </p>
  </div>





<div class="span-1">
<p>
</p>
</div>


<div class="span-2">
  <p>
  <font size="2"><b>&nbsp; 1468</b></font><br>
  <font size="1">&nbsp; &nbsp; Votes</font>
  </p>
  </div>


<div class="span-9 last">
  <p>
  <font size="2"><b><a href="#"><font color='#0000EE'>No one has gone to jail for crashing the world economy, torture or unconstitutional wiretaps.</a></font><br><font size="1">&nbsp; &nbsp; Submitted By: &nbsp; <b>Barack Obama</b>
  </p>
  </div>





<div class="span-24 last">
</div>


<div class="span-2">
<p>
</p>
</div>


<div class="span-9">
<hr>
</div>

<div class="span-3">
<p>
</p>
</div>


<div class="span-9">
<hr>
</div>

<div class="span-1 last">
<p>
</p>
</div>



<!-- .......................................................SECTION 3............................................. -->


<div class="span-2">
  <p>
  <font size="2"><b>&nbsp; 1468</b></font><br>
  <font size="1">&nbsp; &nbsp; Votes</font>
  </p>
  </div>


<div class="span-9">
  <p>
  <font size="2"><b><a href="#"><font color='#0000EE'>No one has gone to jail for crashing the world economy, torture or unconstitutional wiretaps.</a></font><br><font size="1">&nbsp; &nbsp; Submitted By: &nbsp; <b>Barack Obama</b>
  </p>
  </div>





<div class="span-1">
<p>
</p>
</div>


<div class="span-2">
  <p>
  <font size="2"><b>&nbsp; 1468</b></font><br>
  <font size="1">&nbsp; &nbsp; Votes</font>
  </p>
  </div>


<div class="span-9 last">
  <p>
  <font size="2"><b><a href="#"><font color='#0000EE'>No one has gone to jail for crashing the world economy, torture or unconstitutional wiretaps.</a></font><br><font size="1">&nbsp; &nbsp; Submitted By: &nbsp; <b>Barack Obama</b>
  </p>
  </div>





<div class="span-24 last">
</div>


<div class="span-2">
<p>
</p>
</div>


<div class="span-9">
<hr>
</div>

<div class="span-3">
<p>
</p>
</div>


<div class="span-9">
<hr>
</div>

<div class="span-1 last">
<p>
</p>
</div>






<!-- .......................................................FOOTER............................................. -->





     <div class="box span-24 last">
        <span style="font-size:12px;">
	<font color='#fff'><b>&nbsp;
        <a href="page2">About</a>&nbsp;|&nbsp;<a href="#">Contact</a>&nbsp;|&nbsp;<a href="#">Donate</a>
	</b>
	</font>
	</span>
	

      <div class="span-19"> <!-- adjusts link bar location --> 
       <P>
	</P>
       </div>








</body>

